name: Terraform AWS Destroy

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: PROD

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.5

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: ./infra

      - name: Remove IAM from state
        working-directory: ./infra
        run: |
          terraform state rm aws_iam_user.cd || true
          terraform state rm aws_iam_access_key.cd || true
          terraform state rm aws_iam_policy.tf_s3_backend || true
          terraform state rm aws_iam_policy.tf_dynamodb_backend || true
          terraform state rm aws_iam_user_policy_attachment.tf_s3_backend || true
          terraform state rm aws_iam_user_policy_attachment.tf_dynamodb_backend || true
          terraform state rm aws_iam_user_policy_attachment.admin_access || true

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
        working-directory: ./infra
        